.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(15, 20px);
  gap: 2px;
  margin: 50px auto;
  width: max-content;
  background-color: #111;
}

.grid-cell {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gridAnimation 10s linear infinite;
  font-size: 14px;
  color: #fff;
}

@keyframes move-right {
  10% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
